<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            {{ if or .Site.Params.navbar.brandLogo .Site.Params.favicon }}
                {{ $logo := .Site.Params.navbar.brandLogo | default .Site.Params.favicon }}
                <div class="pb-2">
                    <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
                        <img alt="Footer logo" src="{{ if hasPrefix $logo "/" }}{{ $logo | strings.TrimPrefix "/" | relURL }}{{ else }}{{ $logo }}{{ end }}"
                            height="40px" width="40px">
                    </a>
                </div>
            {{ end }}
            &copy; {{ now.Format "2006"}} {{ .Site.Params.copyright }} {{ .Site.Params.terms.copyright | default (i18n "copyright") }}
            <div class="text-secondary">
                Made by Afoma Egbuonu with
                <span class="text-danger">
                    &#10084;
                </span>
            </div>
        </div>
    </div>
</div>
